.welcomePage {
    text-align: center;
    align-items: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}